<div class="container">
  <h1>Tauschbörse</h1>
  <% User.all.each do |user| %>
    <div class="card b-color my-2">
      <div class="row no-gutters">
        <div class="col-md-4">

          <% if user.cover.attached? %>
            <%= image_tag user.cover, class: "card-img" %>
          <% end %>

          <div class="text-center mt-2">
            <%= "#{user.first_name} #{user.last_name}" %>
            <br />
            <%= mail_to user.email %>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h3 class="card-title spaced-letters text-center"><b>Ich biete an</b></h3>
            <ul>
              <% user.skills.where(category: "offered").each do |skill| %>
                <li class="my-4">
                  <%= skill.title %>
                </li>
              <% end %>
            </ul>
            <hr />
            <h3 class="card-title spaced-letters text-center"><b>Ich brauche</b></h3>
            <ul>
              <% user.skills.where(category: "needed").each do |skill| %>
                <li class="my-4">
                  <%= skill.title %>
                </li>
              <% end %>
            </ul>
            <h5 class="card-title spaced-letters"><%#= post.title.upcase %></h5>
            <p class="card-text"><%#= post.content.to_plain_text.truncate(150) %></p>
            <p>
            </p>
          </div>
        </div>
      </div>
    </div>
  <% end %>

</div>
