<div class="container">
  <h1 class="text-center my-4">Tauschbörse</h1>
  <%= render 'skills/search_skill_form' %>
  <%= render 'skills/search_skill_results', users: @users %>

  <% unless user_signed_in? %>
    <hr />
    <h1 class="text-center my-4">Mitmachen</h1>
    <p>
      Möchtest du bei der Tauschbörse mitmachen?
    </p>
    <p>
      Dann erstelle hier deinen Account!
    </p>
    <hr />
    <%= simple_form_for :user, url: create_user_path, method: :post do |f| %>
    <p>
      Profilbild <br /><br />
      <%= f.file_field :cover %>
    </p>
    <p>
      <%= f.input :email%>
      <br />
      <%= f.input :first_name %>
      <br />
      <%= f.input :last_name %>
      <br />
      <%= f.input :password %>
    </p>
      <%= f.submit "Anmelden", class: "btn btn-light border my-2" %>
    <% end %>

  <% end %>

</div>

<div class="m-5">

</div>
