<section class="py-3 text-center container">
  <div class="row">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Willkommen in der <%= t("application_name") %>!</h1>
      <p class="lead text-muted">Auf dieser Seite können Sie neue Lebensläufe erstellen.</p>
      <% unless user_signed_in? %>
        <p class="">Bitte melden Sie sich an oder erstellen Sie ein neues Profil.</p>
      <% else %>
      <hr>
      <p class="">
        Drücken Sie auf die untenstehenden Buttons und tragen Sie Ihre Daten ein.
      </p>
      <p class="">
        Wenn Sie auf den Button "<%= t("create_new_cvs") %>" drücken, dann werden verschiedene Lebensläufe mit Ihren eingegebenen Daten erstellt.
      </p>
      <hr>
        <%= render "cv_generator/buttons", user: @user %>
      <% end %>
    </div>
  </div>
</section>

<% unless user_signed_in? %>
<section>
  <div class="container">
      <div class="row mb-4">
        <div class="col-sm-12 col-md-6 mb-2">
          <div class="border rounded p-3 h-100">
              <%= render 'devise/sessions/new' %>
              <div class="mt-4">
                <p class="">
                  <strong><u>Zum Ausprobieren:</u></strong>
                  <br />
                  <strong>e-Mail: </strong>test@gmail.com
                  <br />
                  <strong>Password: </strong>abcdef
                </p>
              </div>

          </div>
        </div>
        <div class="col-sm-12 col-md-6">
          <div class="border rounded p-3 mb-2 h-100">
            <%= render 'devise/registrations/new', user: User.new %>
          </div>
        </div>
      </div>
  </div>
</section>
<% end %>
