<%= simple_form_for user, url: create_user_as_user_path, html: { class: "form_for_user", data: { cy: "form_for_registration" }}, method: :post, remote: true do |f| %>
<h5><u><%= t("signup") %></u></h5>
<p>
  <%= f.input :email%>
  <br />
  <%= t("are_you_in_mentoring50") %><br>
  <%= f.collection_check_boxes :are_you_in_mentoring50, [[true, 'Ja']], :first, :last, item_label_class: "p-2" %>
  <hr>
  <%= f.input :password %>
  <br />
  <%= f.input :password_confirmation %>
</p>
  <%= f.submit "Anmelden", class: "btn btn-light border my-2" %>
<% end %>
