<div class="container">
  <h1>Admin-Bereich</h1>
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col"><%= User.human_attribute_name("email") %></th>
        <th scope="col"><%= t("are_you_in_mentoring50") %></th>
        <th scope="col">Lebensläufe ansehen</th>
        <th scope="col">Lebensläufe erstellen</th>
        <th scope="col">User bearbeiten</th>
        <th scope="col">User löschen</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
      <tr>
        <td>
          <%= user.id unless user.id.blank? %>
        </td>
        <td>
          <%= user.name unless user.name.blank? %>
        </td>
        <td>
          <%= user.email unless user.email.blank? %>
        </td>
        <td>
          <%= t(user.are_you_in_mentoring50) unless user.are_you_in_mentoring50.blank? %>
        </td>
        <td><%= link_to t("view_cvs"), cv_generator_my_cvs_path(user), data: {cy: "view_cvs_of_this_user_button"} %></td>
        <td><%= link_to t("create_new_cvs"), root_with_user_id_path(user), data: {cy: "create_cvs_for_this_user_button"} %></td>
        <td><%= link_to t("edit_user"), edit_user_path(user), data: {cy: "edit_user_button"}  %></td>
        <td><%= link_to t("delete_user"), delete_user_path(user), data: { confirm: "Sind Sie sicher?", cy: "delete_user_button" }, method: :delete %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
