<div class="border rounded p-3 mb-2">
<%= simple_form_for user do |f| %>
<p>
  <%= f.input :email%>
  <br />
  <div class="row">
    <div class="col-6">
      <%= f.input :first_name %>
    </div>
    <div class="col-6">
      <%= f.input :last_name %>
    </div>
  </div>
  <br />
  <%= f.input :location %>
  <br />
  <%= f.input :plz %>
  <br />
  <%= f.input :street %>
  <br />
  <%= f.input :phone %>
  <br />
  <%= f.input :birth_day, start_year: Date.today.year - 100,
                              end_year: Date.today.year %>
  <br />
  <%= f.input :job_title %>
  <br />
  <%= f.input :website %>
  <br />
  <%= f.input :short_description %>
  <br />
  <%#= f.input :password %>
</p>
  <%= f.submit class: "btn btn-light border my-2" %>
<% end %>
</div>
