<%= simple_form_for user, url: create_user_as_user_path, html: { class: "form_for_user"}, method: :post, remote: true do |f| %>
<h5>Neues Profil erstellen</h5>
<p>
  Profilbild <br /><br />
  <%= f.file_field :cover %>
</p>
<p>
  <%= f.input :email%>
  <br />
  <div class="row">
    <div class="col-6">
      <%= f.input :first_name %>
    </div>
    <div class="col-6">
      <%= f.input :last_name %>
    </div>
  </div>
  <br />
  <%= f.input :password %>
</p>
  <%= f.submit "Anmelden", class: "btn btn-light border my-2" %>
<% end %>
