<div class="border rounded p-3 mb-2">
<%= simple_form_for user do |f| %>
<p>
  Profilbild <br /><br />
  <%= f.file_field :cover %>
</p>
<p>
  <%= f.input :email%>
  <br />
  <div class="row">
    <div class="col-6">
      <%= f.input :first_name %>
    </div>
    <div class="col-6">
      <%= f.input :last_name %>
    </div>
  </div>
  <br />
  <%= f.input :location %>
  <br>
  <%= f.input :are_you_in_mentoring50, as: :radio_buttons, collection: [["yes", 'Ja'], ["no", 'Nein']], label_method: :second, value_method: :first, label: false,item_wrapper_class: "mr-2", item_label_class: "px-2" %>

  <br />
  <%= f.input :plz %>
  <br />
  <%= f.input :street %>
  <br />
  <%= f.input :phone %>
  <br />
  <%= f.input :birth_day, start_year: Date.today.year - 100,
                              end_year: Date.today.year %>
  <br />
  <%= f.input :recruitment_consultant %>
  <br />
  <%= f.input :disposal_period_start %>
  <br />
  <%= f.input :disposal_period_end %>
  <br />
  <%= f.input :personal_number %>
  <br />
  <%= f.input :unemployment_insurance_number %>
  <br />
  <%= f.input :job_title %>
  <br />
  <%= f.input :website %>
  <br />
  <%= f.input :short_description %>
  <br />
  <%#= f.input :password %>
</p>
  <%= f.submit class: "btn btn-light border my-2" %>
<% end %>
</div>
