<div class="border rounded p-3 mb-2">
<%= simple_form_for user, url: cv_generator_update_user_for_cv_path, html: { class: "form_update_user_for_cv"}, method: :post, remote: true do |f| %>
<%#= simple_form_for user do |f| %>
<p>
  <%= f.input :email%>
  <br />
  <% unless user_signed_in? %>
    <%= f.input :password %>
  <% end %>
  <br />
  <div class="row">
    <div class="col-6">
      <%= f.input :first_name %>
    </div>
    <div class="col-6">
      <%= f.input :last_name %>
    </div>
  </div>
  <br />
  <hr />
  <div class="row">
    <div class="col-6">
        <%= f.input :location %>
    </div>
    <div class="col-6">
      <%= f.input :plz %>
    </div>
  </div>
  <br />
  <%= f.input :street %>
  <br />
  <hr />
  <%= f.input :phone %>
  <br />
  <%= f.input :birth_day, start_year: Date.today.year - 100,
                              end_year: Date.today.year - 18 %>
  <br />
  <hr />
  <%= f.input :job_title %>
  <br />
  <%= f.input :website %>
  <br />
  <%= f.input :short_description %>
  <br />
  <%#= f.input :password %>
</p>
  <%= f.submit "Weiter", class: "btn btn-lg btn-primary border my-2" %>
<% end %>
</div>
