<div class="card my-4 h-100">
  <div class="row no-gutters">
    <div class="col-md-12">
      <% if user.cover.attached? %>
          <%= image_tag user.cover, class: "card-img mx-auto" %>
      <% else %>
          <%= image_tag "portrait_placeholder.png", class: "card-img mx-auto" %>
      <% end %>
    </div>
    <div class="col-12">
      <div class="card-body">
        <table class="table">
        <tbody>
          <tr>
            <td>
              Datum für Test
            </td>
            <td>
              <%= user.birth_day.strftime("%F") %>
            </td>
          </tr>
          <% User.showable_attribute_names_for_cv.each do |name| %>
            <tr>
              <td>
                <strong><%= User.human_attribute_name(name) %>: </strong>
              </td>
              <td>
                <%#= user.send(name) %>
                <%= user.try(:send, "#{name}") %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
      <p>
        <%= link_to "User bearbeiten", edit_user_path(user) %>
      </p>
      <hr />
      <p>
        <% CvUnit.categories.each do |category| %>
        <h3 class="card-title spaced-letters text-center"><b><%= category %></b></h3>
          <%= render 'cv_units/cv_unit_list', user: user, category: category %>
        <hr />
        <% end %>
      </p>

      <% if false #current_user.admin? %>
        <p>
          <%= link_to "Impulse Ordner erstellen", create_files_for_impulse_path(user), method: :post %>
        </p>
      <% end %>

      </div>
    </div>
  </div>
</div>
