<div class="card b-color mb-2">
  <% if expertise.cover.attached? %>
    <%= image_tag expertise.cover, class: "card-img" %>
  <% end %>

  <div class="card-body">
    <p class="card-text">
      <%= l(expertise.created_at, format: "%d.%m.%Y") %> <span class="badge e-color rounded-0 text-white"><%= "Mitteilungen".upcase %></span>
    </p>
    <h5 class="card-title spaced-letters"><%= expertise.title.upcase %></h5>
    <p class="card-text"><%= expertise.description %></p>
    <p>
      <%= link_to expertise_path(expertise) do %>
        <button type="button" class="btn btn-e-color btn-sm spaced-letters text-nowrap rounded-0">MEHR ERFAHREN <%= fa_icon "chevron-right", class: "ml-2" %></button>
      <% end %>
    </p>
  </div>
  <% if is_current_user_admin? %>
    <div class="text-center m-2">
      <hr />
      <%= link_to 'Eintrag bearbeiten', edit_expertise_path(expertise), class: "btn btn-primary m-2" %>
      <%= link_to 'Eintrag löschen', expertise_path(expertise), method: :delete, data: {confirm: 'Bist du sicher?'}, class: "btn btn-danger m-2" %>
    </div>
  <% end %>
</div>
