<div class="card b-color mb-2 support_request_card" data-cy="support_request_id" data-cy-support_request-id="<%=support_request.id%>">
  <% if false #if support_request.cover.attached? %>
    <%= image_tag support_request.cover, class: "card-img" %>
  <% end %>

  <div class="card-body">
    <p class="card-text">
      <%= l(support_request.created_at, format: "%d.%m.%Y") %> <span class="badge e-color rounded-0 text-white"><%= "Call for Help".upcase %></span>
    </p>
    <h5 class="card-title spaced-letters"><%= support_request.title.upcase %></h5>
    <p class="card-text"><%= support_request.content %></p>
    <% unless support_request.expertises.blank? %>
    <hr />
    <h5 class="card-title spaced-letters">Expertisen gebraucht</h5>
    <ul>
      <% support_request.expertises.each do |expertise| %>
        <li>
          <%= expertise.title %>
        </li>
      <% end %>
    </ul>
    <% end %>
  </div>
  <% if true # is_current_user_admin? %>
    <div class="text-center m-2">
      <hr />
      <%= link_to 'Eintrag bearbeiten', edit_support_request_path(support_request), class: "btn btn-primary m-2", data: { cy: "edit-support_request-#{support_request.id}" } %>
      <%= link_to 'Eintrag löschen', support_request_path(support_request), method: :delete, data: {confirm: 'Bist du sicher?'}, class: "btn btn-danger m-2", data: { cy: "delete_support_request-#{support_request.id}" } %>
    </div>
  <% end %>

    <div class="p-3">
      <p>
        <strong>Haben Sie Interesse zu helfen?
        Dann schreiben Sie einen Kommentar!</strong><br /><br />
        Der Kommentar ist nur für den Mentor oder Mentorin ersichtlich.
      </p>
      <%= render 'comments/comments_fields_only', parent: support_request %>
      <%= render 'comments/form_for_support_request', parent: support_request, placeholder: "Mein Name ist Max Mustermann und ich biete meine Hilfe an.\n\nBitte schreiben Sie mir eine Mail auf max.mustermann@gmail.com oder rufen sie mich unter der Woche zwischen 19:00 und 21:00 Uhr auf 079 123 456 78 90 an." %>
    </div>
</div>
