<div class="my-2">
  <table class="table table-striped table-bordered">
      <tr>
          <td>Name</td>
          <td><%= cv_unit.name %></td>
          <td rowspan="4">
            <% if cv_unit.user == current_user %>
              <%= link_to "Bearbeiten", update_cv_unit_path(cv_unit), method: :put, remote: true %>
             <% end %>
             <br>
              <% if cv_unit.user == current_user %>
                <%= link_to "Löschen", remove_cv_unit_path(cv_unit), method: :post, remote: true %>
               <% end %>
            </td>
      </tr>
      <% unless cv_unit.category == "skills" %>
      <tr>
        <td>Company</td>
        <td><%= cv_unit.company %>, <%= cv_unit.location %></td>
      </tr>
      <tr>
        <td>Time</td>
        <td> <%= l(cv_unit.start_date) unless cv_unit.start_date.blank? %> <%= " - #{l(cv_unit.end_date)}" unless cv_unit.end_date.blank? %></td>
      </tr>
      <% end %>
      <tr>
          <td>Content</td>
          <td><%= simple_format cv_unit.content %></td>
      </tr>
      <tr>
        <% if cv_unit.user == current_user %>
        <div class="my-4">
          <p>
          <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#edit_cv_unit_in_list_<%cv_unit.id%>" aria-expanded="false" aria-controls="edit_cv_unit_in_list_<%cv_unit.id%>">
            Eintrag bearbeiten
          </button>
        </p>
        <div class="collapse" id="#edit_cv_unit_in_list_<%cv_unit.id%>">
          <div class="card card-body">
            <%= render 'cv_units/form_for_unit_list', cv_unit: cv_unit, category: cv_unit.category %>
          </div>
        </div>
          <%#= render 'cv_units/form_for_unit_list', cv_unit: CvUnit.new %>
        </div>
        <% end %>
      </tr>
  </table>
</div>
