<div class="my-2">
  <table class="table table-striped table-bordered">
      <tr>
          <td>Name</td>
          <td><%= cv_unit.name %></td>
          <td rowspan="4">
              <% if (cv_unit.user == current_user) || (current_user.admin?) %>
                <p>
                  <%= link_to "Löschen", remove_cv_unit_path(cv_unit), method: :post, remote: true %>
                </p>
                <hr>
                <p>
                  <%= link_to "Eintrag bearbeiten", edit_cv_unit_path(cv_unit) %>
                </p>
               <% end %>
            </td>
      </tr>
      <% unless cv_unit.category == "skills" %>
      <tr>
        <td>Company</td>
        <td><%= cv_unit.company %>, <%= cv_unit.location %></td>
      </tr>
      <tr>
        <td>Time</td>
        <td> <%= l(cv_unit.start_date) unless cv_unit.start_date.blank? %> <%= " - #{l(cv_unit.end_date)}" unless cv_unit.end_date.blank? %></td>
      </tr>
      <% end %>
      <tr>
          <td>Content</td>
          <td><%= simple_format cv_unit.content %></td>
      </tr>

  </table>
</div>
