<%#= render 'cv_units/form_for_unit_list', cv_unit: CvUnit.new %>
<div class="<%= category %>_cv_units_from_user_<%= user.id %>">
<div class="<%= category %>_cv_unit_list_from_user_<%= user.id %>">
  <% user.cv_units.where(category: category).order(:start_date).reverse_order.each do |cv_unit| %>
    <%= render 'cv_units/cv_unit_li_item', cv_unit: cv_unit %>
  <% end %>
</div>
<% if (user == current_user) || (current_user.admin?) %>

<div class="my-4">
  <hr>
  <p>
  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#<%= category %>_new_cv_unit_collapse_button" aria-expanded="false" aria-controls="collapseExample">
    Neuer Eintrag in <%= category %>
  </button>
</p>
<div class="collapse" id="<%= category %>_new_cv_unit_collapse_button">
  <div class="card card-body">
    <%= render 'cv_units/form_for_unit_list', cv_unit: CvUnit.new, category: category %>
  </div>
</div>
</div>
<% end %>
</div>
<%#= render 'cv_units/form_for_unit_list', cv_unit: CvUnit.new %>
