<%# text_area_id = Time.now.to_f.to_s.gsub(".", "") %>
<%#= "##{text_area_id}" %>
<% if category == "experience" %>
  <% name_label = "Berufsbezeichnung" %>
  <% name_placeholder = "Abteilungsleiterin, Mechaniker, Buchhaltung" %>
  <% content_placeholder = "Leitung der verschiedenen Teams der Abteilung für Erwachsenenbildung \nBeurteilung und Einstellung von Personal \nGenehmigung von Budgets für spezielle Bildungsprojekte" %>
  <% location_placeholder = "Frankfurt" %>
  <% company_placeholder = "Novartis, Raiffeisen, Post" %>
  <% location_label = "Ort" %>
  <% company_label = "Name der Firma oder Institution" %>
<% elsif category == "education" %>
  <% name_label = "Ausbildung" %>
  <% name_placeholder = "Master in Psychologie" %>
  <% content_placeholder = "Thema der Masterarbeit: Neue Ansätze für spezialisierte Erwachsenenbildung und -training\nVorstand im Debattierclub" %>
  <% location_placeholder = "Frankfurt" %>
  <% company_placeholder = "Goethe-Universität, Fachhochschule Graubünden" %>
  <% location_label = "Ort" %>
  <% company_label = "Name der Institution" %>
<% elsif category == "skills" %>
  <% name_label = "Fähigkeiten, Kompetenzen, Kenntnisse, Interessen" %>
  <% name_placeholder = "Sprachen" %>
  <% content_placeholder = "Deutsch: Muttersprache\nFranzösisch: Gute Kenntnisse\nRussisch: Grundkenntnisse" %>
<% end %>
<%= simple_form_for :cv_unit, url: create_cv_unit_path, method: :post, remote: true do |f| %>
<p>
  <%= f.input :name, label: name_label, placeholder: name_placeholder %>
  <%#= f.input :content, label: false, placeholder: "" %>
  <br />
  <% unless category == "skills" %>
    <%= f.input :company, label: company_label, placeholder: company_placeholder, required: false %>
    <br>
    <%= f.input :location, label: location_label, placeholder: location_placeholder, required: false %>
  <% end %>
  <br>
  <%= f.input :content, as: :text, label: false, placeholder: content_placeholder, input_html: { rows: 5, class: "", id: ""} %>

  <%#= f.input :content, as: :text, label: false, class: "tinymce", input_html: { rows: 3, class: "tinymce"} %>
  <% unless category == "skills" %>
    <%= f.input :start_date, as: :date, label: "Start", required: false, start_year: Date.today.year - 100, end_year: Date.today.year + 10 %>
    <%= f.input :end_date, as: :date, label: "Ende", required: false, start_year: Date.today.year - 100, end_year: Date.today.year + 10 %>
  <% end %>
  <%= f.hidden_field :category, value: category %>
  <%= f.submit class: "btn btn-light border my-1" %>
</p>
<% end %>


<%#= tinymce_assets %>
<%#= tinymce :selector => "##{text_area_id}" %>

<script type="text/javascript">
//tinymce.init({
//  selector: "<%= "##text_area_id" %>",
//  menubar: false
//});
</script>
