<% # rails g erb:scaffold Cv_unit title:string description:text content:text %>




<div class="container pt-3">



  <h3 class="text-h-color spaced-letters font-weight-light text-uppercase"><%= cv_unit.title %></h3>
  <p class="font-weight-bold text-muted pt-3">
    <%= cv_unit.description %>
  </p>
  <p>
  <%= simple_format(cv_unit.content) %>
  </p>
  <% if is_current_user_admin? %>
    <div class="text-center m-2">
      <hr />
      <%= link_to 'Eintrag bearbeiten', edit_cv_unit_path(cv_unit), class: "btn btn-primary m-2" %>
      <%= link_to 'Eintrag löschen', cv_unit_path(cv_unit), method: :delete, data: {confirm: 'Bist du sicher?'}, class: "btn btn-danger m-2" %>
    </div>
  <% end %>
</div>
