<% content_for :head do %>
  <%= javascript_import_module_tag "cv_units_sortable" %>
<% end %>

<div class="container">

  <p>
    <%= link_to t("go_back"), cv_generator_update_cv_units_for_user_page_path(@cv_units.first.user), data: {cy: "go_back"}, class: "btn btn-secondary" %>
  </p>

  <div id="handle" class="row">
    <h4 class="col-12"><%= t("update_order") %></h4>
    <div id="cv_units" class="list-group col">

      <% @cv_units.order(:sort).each do |cv_unit| %>
        <div class="list-group-item" data-id="<%= cv_unit.id %>">
          <i class="fas fa-arrows-alt handle"></i>&nbsp;&nbsp; <%= cv_unit.name %>
        </div>

      <% end %>

    </div>
    <p>
      <button type="button" id="cv-units-sortable-update-order" class="btn btn-lg btn-primary border my-2"><%= t("save_and_go_back") %></button>
    </p>
  </div>

</div>
