<footer class="footer a-color mt-auto">
  <div class="container-fluid a-color">
    <div class="row">
      <div class="col-sm-12 col-md-4 pt-5">
        <p class="spaced-letters">
          <strong><%= "Kontakt".upcase %></strong>
        </p>
        <p class="text-white border-right">
          <b>Impulse</b><br />
          Sandro Räss <br />
          <u><%= mail_to "s.raess@me.com", "s.raess@me.com", class: "text-white text-underline" %></u><br />
        </p>
      </div>
      <div class="col-sm-12 col-md-4">
        <% if false %>
        <p class="spaced-letters pt-5">
          <strong><%= "Newsletter".upcase %></strong>
        </p>
        <div id="new_newsletter" class="text-white">
          <%= simple_form_for(Newsletter.new, url: add_newsletter_to_list_path, method: :post, remote: true) do |f| %>
            <div class="input-group mb-3 rounded-0">
              <%= f.text_field :email, placeholder: "e-Mail-Adresse", class: "form-control rounded-0" %>
              <div class="input-group-append">
                <%= f.submit "anmelden", class: "btn btn-c-color rounded-0" %>
              </div>
            </div>
          <% end %>
        </div>
        <% end %>
      </div>


      <div class="col-sm-12 col-md-4">
        <p class="spaced-letters pt-5">
          <strong><%= "Meta".upcase %></strong>
        </p>
        <p class="text-white">
          <% if user_signed_in? %>
            <%= t("logged_in_as") %> <u><%= current_user.email %></u><br />
            <%= link_to(t("logout"), destroy_user_session_path, method: :delete, class: "", data: { cy: "logout" }) %>
            <%#= link_to t("logout"), destroy_user_session_path, data: { "turbo-method": :delete, cy: "logout" }, class: "text-white" %>
            <br>
            <%= link_to 'Account bearbeiten', edit_user_registration_path, class: "text-white" %>
            <br>
            <%= link_to "Account löschen", registration_path(current_user), class: "text-white", data: { confirm: "Sind Sie sicher?", cy: "destroy_user_account" }, method: :delete %>
          <% else %>

            <%= link_to(t('login'), new_user_session_path, class: "text-white", data: { cy: "login" }) %>
            <br>
            <%= link_to t('signup'), new_user_registration_path, class:"text-white" %>
          <% end %>
        </p>
      </div>
    </div>
  </div>
</footer>
