<!DOCTYPE html>
<html>
  <head>
    <%= display_meta_tags site: 'Impulse' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_importmap_tags %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>


    <%= favicon_link_tag asset_path('favicon-red-dot.png') %>
    <%= yield :head %>

    <script src="https://kit.fontawesome.com/9e87a26e49.js" crossorigin="anonymous"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">

  </head>

  <body class="d-flex flex-column h-100">
    <%= render "layouts/navigation" %>
    <%= render "layouts/flash_messages" if flash %>
    <% if user_signed_in? && current_user.admin? && !@user.blank? %>
      <div class="container-fluid bg-info">
        <div class="text-center py-2">
          <p>
            Folgender User wird zurzeit bearbeitet: <br>
            <strong>
              <%= @user.name %> - <%= @user.email %>
            </strong>
          </p>
        </div>
      </div>
    <% end %>

    <%= yield %>

    <%= render "layouts/footer" %>
  </body>
</html>
